@import url(base.css);
/*栏目开始*/
.column-beijing{
	width: 100%;
	height: 34px;
	background-color:#eeeeee;
	border-bottom: 1px solid #fff;
}
.column-beijing2{
	width: 1220px;
	height: 34px;
	margin:0 auto;
	/*background-color: red;*/
}
.column-left{
	width: 300px;
	height: 34px;
	/*background: red;*/
	float: left;

}
.column-tu{
	width:80px;
	height:34px;
	margin-left:10px;
	float: left;

}
.liupei{
	width:80px;
	height:100%;
	z-index: 99999;

}
.column-icon{
	float:left;
}
.column-zi a {
	font-size: 12px;
	color:#666666;
	float: left;
	line-height: 34px;
	margin-left: 5px;
}
.column-zi a:hover{
	color: red;
}
.list{
	width:110px;
	height: 200px;
	background: white;
	display: none;
	z-index: 999999;
}
.nav2{
		width:110px;height: auto;display:block;z-index:99999;background: red;display: none;

	}
.nav2.list2{
	width: 110px;height:auto;background:red;border-bottom: 1px solid #000;
}
.list2 a{
		display: block;width: 170px;height: auto;font-size: 12px;color: #000;text-align: center;line-height: 34px;text-decoration: none;
	}

.column-right{
	width: 502px;
	height: 34px;
	float: right;
}
.column-zi1{
	width: 120px;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	float: left;

}
.column-zi-right a{
	font-size: 12px;
	color:#666666;
	float: left;
	line-height: 34px;
	margin-left: 15px;
	display: block; 
}
.column-zi-right a:hover{
	color: red;
}
/*栏目结束*/
/*重复图开始*/
.chongfutu{
	width: 100%;
	height: 82px;
	background: url(../image/chongfu.jpg) center;
	z-index: 22;
}
/*重复图结束*/
/*head开始*/
.head-beijing{
	width: 100%;
	height: 156px;
	border-bottom: 3px solid #2d2e2e;
}
.head-beijing2{
	width: 1220px;
	height: 159px;
/*	background: red;*/
	margin: 0 auto;

}
.head-top{
	width: 1220px;
	height: 100px;
/*	background: yellow;*/
	float: left;
}
.head-tu{
	width: 500px;
	height: 100px;
	float: left;

  
}
.head-tu1 {
	width: 220px;
	height:80px;
/*	background: green;*/
	float: left;
	border-right: 1px solid #666666;
	margin-top:20px;

}
.head-tu2  {
	width: 150px;
	height:80px;
	/*background: green;*/
	margin-left: 5px;
	margin-top: 20px;
	float: left;

}
.head-right{
	width: 680px;
	height:100px;
	/*background:yellow;*/
	float: right;
}
.head-right1{
	width: 680px;
	height: 60px;
/*	background: black;*/
	margin-top: 40px;
	float: left;
}
.head-sousuo{
	border: 2px solid #323333;
	width: 450px;
	height: 31px;
	/*margin-top: 40px;*/
	float: left;
}
.head-icon{
	width: 48px;
	height: 35px;
	background:#323333;
	float: left;
}
.head-right2{
	width: 160px;
	height: 35px;
	background:#323333;
	float: right;
}
.head-g{
	width: 20px;
	height: 31px;
	margin-left: 18px;
	float: left;
}
.head-zt1{
	float: left;
	font-size: 12px;
	line-height: 31px;
	color: #fff;
	margin-left: 10px;
}
.head-zt2{
	width: 4px;
	height: 18px;
	font-size: 14px;
	line-height: 31px;
	color: red;
	margin-left:5px;
	float: left;

}
.head-zixia{
	width: 500px;
	height:18px;
/*	background:blue;*/
	margin-top: 40px;
}
.head-zishe {
	width: 90px;
	height: 16px;
	float: left;
}
.head-zishe a{
	color: #e5004f;
	font-size: 14px;

}
.head-zishe a:hover{
	border-bottom:2px solid #e5004f;
	
}
.head-zishe1 {
	width: 90px;
	height: 16px;
	float: left;
	margin-left:16px;
}
.head-zishe1 a{
	color:#888888;
	font-size: 14px;

}
.head-zishe1 a:hover{
	border-bottom:2px solid #e5004f;
	color:#e5004f;
}
.head-bottom{
	width: 1220px;
	height: 38px;
/*	background: yellow;*/
	margin-top:118px;

}
.head-bottom-left{
	width: 200px;
	height: 40px;
	background: #222222;
	line-height: 40px;
	text-align: center;
	float: left;
}
.head-bottom-left a{
	color: #fff;
	font-size: 20px;
}
.head-bottom-middle{
	width: 500px;
	height: 40px;
	/*background: blue;*/
	float: left;
}
.head-bottom-zi1{
	width: 75px;
	height: 40px;
	margin-left: 44px;
	float: left;

}
.head-bottom-zi1 a{
	color: #323333;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	
}
.head-bottom-zi1 a:hover{
	border-bottom:2px solid #e5004f;
	color:#e5004f;
}
.head-bottom-right{
	width: 200px;
	height: 40px;
	/*background: green;*/
	float: right;
}
.head-bottom-zi2{
	width: 70px;
	height:18px;
	line-height: 40px;
    text-align: center;
    float: left;
    margin-left: 22px;
}
.head-bottom-zi2 a{
	color: #666666;
	
}
.head-bottom-zi2 a:hover{
	color: #e5004f ;
	
}

/*head结束*/
/*banner图开始*/
.banner-bj{
	width: 100%;
	height: 470px;

}

.banner-bj2{
	width: 1220px;
	height: 470px;
	margin: 0 auto;
	position: relative;

}
.banner-tup{
	display: block;
	width: 1190px;
	height: 470px;
	position: absolute;
	top:0px;
	left: 0px;


}
.banner-left{
	width:200px;
	height: 470px;
	background: #333333;
	z-index:9999999;
	position: absolute;
	left: 0px;
	top: 0px;
}
.banner-you{
	width:500px;height:430px;background:#333;float:left;display:none;overflow:hidden;position:absolute;margin-left:200px;opacity:0.8;
}
.banner-you1{
	background: red;
	width:376px;
	height: 430px;
}
.dyh{
	width: 350px;
	height:65px;
	border-bottom: 1px dashed #fff;
	margin: 0 auto;
}
.dyh1{
	width:376px;
	height:33px;
	line-height:33px;
	color: #fff;
	font-size:12px;
}
.dyh2{
	width:376px;
	height:33px;
	/*line-height:33px;*/
	color: #fff;
	font-size:12px;

}

/*************************************************/
.menu{
	width:200px;height:46px;
	border-bottom:1px solid #515151;
	background:#333;
	position:relative;
}
.menu:hover{
	background-color:#E5004F;
}
.mean-icon{
	width: 20px;
	height: 46px;
	margin-left: 18px;
	float: left;
}
.mean-dz{
	float: left;
	line-height: 46px;
	color: white;
}
.mean-dz a{
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-left: 10px;

}
.mean-xz{
	float: left;
	line-height: 46px;
	color: white;
}
.mean-xz a{
	color: white;
	font-size: 12px;
	margin-left: 10px;

}
.mean-xz a:hover{
	border-bottom: 1px solid white;

}
.banner-right{
	width: 200px;
	height: 470px;
	float: left;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 9999;
}
.banner-right:hover{
	right: 10px;
}
.banner-btn{
	width: 180px;
	height: 30px;
/*	background: red;*/
	position: absolute;
    left: 50%;margin-left: -125px;
    bottom: 10px;
	z-index: 200;
	padding-left: 20px;

}
.btn{
	width: 30px;
	height: 10px;
	float: left;
	/*margin-left: 5px;*/
	background: #000;
	border-left: 1px solid #fff;
	cursor: pointer;
}

/*推荐*/
.recommended-box{
	width: 1190px;
	height: 325px;
	padding-top: 30px;
	margin-bottom: 25px;
	margin: 0 auto;
	/*margin-top: 469px;*/
}
.recommended-left{
	width: 910px;
	height: 324px;
	float: left;
}
/*.recommended-left ul{
	width: 910px;
	height: 52px;
}*/
.recommended-left li{
	width: 303px;
	height: 47px;
	border-bottom: 5px solid #333;
	position: relative;
	float: left;
}
.recommended-left a{
	display: block;
	width: 304px;
	height: 47px;
	text-align: center;
	line-height: 47px;
	font-size: 16px;
	color:rgb(102,102,102);
	font-weight: ;
}
/*.recommended-left span{
	width: 7px;
	height: 4px;
	position: absolute;
	top: 43px;
	left: 143px;
}*/
.recommended-left2{
	width: 910px;
	height: 272px;
	float: left;
	overflow: hidden;
}
.recommended-left2-1{
	width: 940px;
	height: 262px;
	padding-top: 10px;
	float: left;
}
.recommended-left2-1-1{
	width: 220px;
	height: 260px;
	border: 1px solid rgb(238,238,238);
	margin-right: 7px;
	float: left;
}
.recommended-left2-1-tu1{
	width: 220px;
	height: 260px;
	float: left;
	display: block;
	position: relative;
}
#recommended-left2-2-tu1{
	width: 220px;
	height: 210px;
	float: left;
	display: block;
	text-align: center;
}

.recommended-left2-3-tu1 img{
	display: block;
}
.recommended-left2-1-tu1 img{
	width: 220px;
	height: 260px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.recommended-right{
	width: 270px;
	height: 305px;
	float: right;
	margin-top: 24px;
	position: relative;
}
/*content1结束*/
/*横条开始*/
.heng-b{
	width: 100%;
	height:50px;
}
.hengb1{
	width: 1220px;
	height:50px;
/*	background: red;*/
	margin: 0 auto;
}
.heng-b1{
	width: 1220px;
	height:50px;
/*	background: red;*/
	margin: 0 auto;
}
.heng-tu{
	width: 349px;
	height: 36px;
	/*float: left;*/
	margin-top:40px;
}

/*横条结束*/
/*专柜开始*/
.zhuan-b{
	width: 100%;
	height: 574px;
}
.zhuan-b1{
	width: 1220px;
	height: 574px;
	/*background: red;*/
	margin: 0 auto;
	border: 1px solid#eeeeee;
}
.zhuan-left{
	width: 340px;
	height: 555px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.zhuan-right{
	width: 840px;
	height:574px;
	/*background-color: red;*/
	float: left;
	margin-left: 10px;
}
.zhuan-r-t{
	width: 804px;
	height: 44px;
	border-bottom: 3px solid #333333;
	margin-top: 5px;
	padding-left: 36px;
}
.zhuan-r-t-z{
	width: 60px;
	height: 20px;
	margin-top:20px;
	float: left;
}
.zhuan-r-t-z a{
	font-size: 14px;
    color:#666666;
}
.zhuan-r-t-z a:hover{
	color: #414141;
	font-weight: bold;
	
}
.zhuan-r-t-z1{
	width: 60px;
	height: 20px;
	margin-top:20px;
	float: left;
	margin-left:40px;
}
.zhuan-r-t-z1 a{
	font-size: 14px;
    color:#666666;
}
.zhuan-r-t-z1 a:hover{
	color: #414141;
	font-weight: bold;
	
}
.zhuan-r-tup{
	width: 220px;
	height: 250px;
	float: left;
	margin-top: 4px;
	padding-left:14px;

}
.zhuan-r-tup2{
	width: 365px;
	height: 250px;
	float: left;
	margin-top: 4px;
	margin-left:4px;

}
.zhuan-r-tup3{
	width: 220px;
	height: 250px;
	float: left;
	margin-top: 4px;
	margin-left: 4px;

}
.zhuan-r-tup4{
	width: 290px;
	height: 250px;
	float: left;
	margin-top: 4px;
	padding-left:14px;

}
.zhuan-r-tup5{
	width: 240px;
	height: 250px;
	float: left;
	margin-top: 4px;
	margin-left:4px;

}
.zhuan-r-tup6{
	width: 275px;
	height: 250px;
	float: left;
	margin-top: 4px;
	margin-left: 4px;

}
/*专柜结束*/
.heitiao{
	width: 100%;
	height: 80px;
}
.heitiao2{
	width: 1220px;
	height: 80px;
	margin: 0 auto;
	margin-top: 28px;
}
/*时尚品牌开始*/
.shi-bj{
	width: 100%;
	height: 372px;
}
.shibj1{
	width: 1220px;
	height: 372px;
	margin: 0 auto;
	/*background: red;*/
}
.shi-left{
	width: 250px;
	height: 370px;
	border: 1px solid #eeeeee;
	float: left;
	position: relative;
}
.shi-left-zik{
	width: 68px;
	height: 32px;
	border: 1px solid #eeeeee;
	float: left;
	margin-top: 16px;
	margin-left:8px; 
	text-align: center;
}
.shi-left-zik:hover{
	background: #e5004f; 
}
.shi-left-zik a{
	font-size: 12px;
	color: #666666;
	line-height: 32px;
/*	text-align: center;*/
}
.shi-left-zik2{
	width: 68px;
	height: 32px;
	border: 1px solid #eeeeee;
	float: left;
	margin-top: 8px;
	margin-left:8px; 
	text-align: center;
}
.shi-left-zik2:hover{
	background: #e5004f; 
}
.shi-left-zik2 a{
	font-size: 12px;
	color: #666666;
	line-height: 32px;
/*	text-align: center;*/
}
.shi-left-tu{
	width: 230px;
	height: 160px;
	background: #f2f2f2;
	/*float: left;
    margin-top:20px;
    margin-left:10px;*/
    position: absolute;
    bottom: 20px;
    left: 10px;
    overflow: hidden;

}
.shi-left-tu2{
	width: 230px;
	height: 160px;
	background: #f2f2f2;
	float: left;

}
.shi-l-tp{
	width: 90px;
	height: 60px;
	float: left;
	margin-top: 8px;
	margin-left:15px;
}
/*.shi-l-tp{
	width: 90px;
	height: 60px;
	
	margin-top: 8px;
	margin-left:15px;
	position: absolute;
}*/
.shi-l-tpbox{
	    width:690px;
		height:160px;
		background: red;
		position: absolute;
		left: 0;
		top:0;

}
.jiantou{
          color: #000; font-size:12px;line-height: 12px;
          text-align: center;cursor: default;
	}
.jiantou1{
		height:12px;width:12px;left: 0;
		background-color: #ccc;position: absolute;
        top: 50%;margin-top: -6px;font-size: 12px;
        text-align: center;line-height:12px;cursor:pointer;
	}
.jiantou2{
		height:12px;width: 12px;right: 0;
	    background-color:#ccc; position: absolute; 
        top: 50%;margin-top: -6px;left:210px;font-size: 12px;
        text-align:center;line-height:12px;cursor:pointer;
	}

/*.shi-l-tp1{
	width: 90px;
	height: 60px;
	float: left;
	margin-top: 8px;
	margin-left:20px;
}*/
.shi-l-tp1{
	width: 90px;
	height: 60px;
	float: left;
	margin-top: 8px;
	margin-left:15px;
}

.box{
	width: 390px;
	height: 370px;
	float: left;
	margin-left: 8px;
	overflow: hidden;
	position: relative;
}
.content{
	width: 780px;
	height: 370px;
	/*background: #555;*/
}
.content a{
	float: left;

}
.content img{
	width: 390px;
	height: 370px;

}
.yt_btn{
	position: absolute;
	width: 30px;
	height: 60px;
	background: url(../image/prevnext.png);
	top: 155px;
	cursor: pointer;
}
.leftbtn{
	background-position: left top;
	left:-30px;
 
}
.rightbtn{
	background-position: right top;
	right: -30px;
 

}
.btnbox{
	width: 80px;
	height: 40px;
	position: absolute;
	left: 155px;
	bottom: 20px;
	/*background: red;*/
}
.btnbox div{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	background: #ccc;
	float: left;
	margin: 5px;
}




.one{
	width: 260px;
	height: 180px;
	float: left;
	margin-left: 8px;
	border: 1px solid #eeeeee;

}
.two{
	width: 260px;
	height: 180px;
	float: left;
	margin-left: 8px;
	/*
	margin-top: 7px;*/
	border: 1px solid #eeeeee;

}
.three{
	width: 260px;
	height: 180px;
	float: left;
	margin-left: 8px;
	border: 1px solid #eeeeee;
	margin-top: 7px;

}
.four{
	width: 260px;
	height: 180px;
	float: left;
	margin-left: 8px;
	margin-top: 7px;
	border: 1px solid #eeeeee;

}
.one img{
	width: 260px;
	height: 180px;

}
.two img{
	width: 260px;
	height: 180px;
}
.three img{
	width: 260px;
	height: 180px;
}
.four img{
	width: 260px;
	height: 180px;
}
/*时尚品牌结束*/
/*font开始*/
.font-beijing{
	width: 100%;
	height: 240px;
}
.font-beijing2{
	width: 1220px;
	height: 240px;
	/*background: red;*/
	margin: 0 auto;
}
.font-tupbox{
	width: 1198px;
	height:168px;
	border: 1px solid #eeeeee;
	/*text-align: center;*/
	margin-top: 46px;

}
.font-tup{
	width: 400px;
	height:165px;
	float: left;
	border-right: 1px solid #eeeeee;
}
.font-tup img {
	width: 390px;
	height:165px;
	/*overflow: hidden;*/
	
}
/*font结束*/
/*footer开始*/
.footer-beijing{
	width: 100%;
	height: 90px;
}
.footer-beijing1{
	width: 1220px;
	height: 88px;
	border: 1px solid #eeeeee;
	margin: 0 auto;
	background: #f7f7f7;

}
.footer-kuang1{
	width: 302px;
	height: 90px;
	border-right: 1px solid #eeeeee;
	float: left;
	background: #f7f7f7;
}
.footer-kuang2{
	width: 302px;
	height: 90px;
	float: left;
	background: #f7f7f7;
}
.kuang1-1{
	width: 220px;
	height: 25px;
	margin-left: 45px;
	margin-top: 20px;
}
.kuang1-2{
	width: 220px;
	height: 25px;
/*	background: red;*/
	margin-left: 45px;
	margin-top: 10px;
}
.footer-icon1{
	width: 220px;
	height:25px;
	float: left;

}
.footer-icon1 img{
	width: 22px;
	height:25px;
	float: left;


}
.footer-dz{
	width: 100px;
	height: 20px;
	float: left;
	font-size: 18px;
	color: #e5004f;
	line-height: 25px;
	font-weight: bold;

}
.footer-xz{
	width: 40px;
	height: 20px;
	float: right;
	font-size: 12px;
	line-height: 25px;
	margin-right:20px;

}
.footer-xiaoz{
	width: 40px;
	height: 20px;
	float: left;
	font-size: 14px;
	line-height: 25px;
	margin-left: 5px;
}
.footer-kuang1-xk{
	width: 230px;
	height:60px;
	margin-left:50px;
	margin-top:22px;
}
.footer-iconxk{
	width: 38px;
	height: 42px;
	margin-top: 7px;
	float: left;
}
.footer-kuang{
	width: 120px;
	height: 20px;
	float: left;
	margin-top: 7px;
/*	background: red;*/
}
.hzk{
	width: 28px;
	height: 20px;
	float: left;
	color: #e50067;
	font-size: 14px;
	margin-left:18px;

}
.heizk{
	width:70px;
	height: 20px;
	float: left;
	color: #5a0000;
	font-size: 14px;

}
.fonter-kuangx{
	width: 160px;
	height: 20px;
	float: left;
	margin-top:2px;
/*	background: red;*/
	font-size: 14px;
	margin-left:18px;


}
/*footer结束*/
/*最下面开始*/
.bottom-b{
	width: 100%;
	height: 250px;
}
.bottom-b1{
	width: 1220px;
	height: 250px;
	margin: 0 auto;
}
.bottom-b2{
	width:1000px;
	height: 20px;
	float: left;
	margin-top:35px;
	margin-left: 100px;

}
.bottom-zi{
	width: 48px;
	height: 20px;
	float: left;
	line-height:15px;
}
.bottom-zi a{
	color: #757575;
	font-size: 12px;
}
.bottom-zi a:hover{
	color: #be030f;
}
span{
	margin-left: 12px;
	float: left;

}
.bottom-zi1{
	width: 48px;
	height: 20px;
	float: left;
	line-height:15px;
	margin-left: 12px;
}
.bottom-zi1 a{
	color: #757575;
	font-size: 12px;
}
.bottom-zi1 a:hover{
	color: #be030f;
}
span{
	margin-left: 12px;
	float: left;

}
.bottom-zi2{
	width: 500px;
	height: 16px;
	margin: 0 auto;
	float: left;
	margin-top:50px;
	margin-left: 345px;
	font-size: 12px;
	color: #b2b2b2;
}
.bottom-zi3{
	width: 200px;
	height: 16px;
	margin: 0 auto;
	float: left;
	margin-top:13px;
	margin-left: 510px;
	font-size: 12px;
	color: #b2b2b2;
}
.dibu{
	width: 350px;
	height: 50px;
	float: left;
	margin-left:-270px;
	margin-top:60px;
}
.dibutu1{
	width: 112px;
	height: 44px;
	float: left;
}
.dibutu2{
	width: 112px;
	height: 44px;
	float: left;
	margin-left: 26px;
}
.dibutu3{
	width: 45px;
	height: 44px;
	float: left;
	margin-left: 26px;

}
/*最下面结束*/

/*左导航开始*/
.floor{
/*	width: 50px;
	height: 546px;*/
    position:fixed;
	right: 50%;
	top: 70px;
		width: 0px;
		height: 0px;
		bottom: 20px;
		margin-right: -650px;
		overflow: hidden;
		z-index: 99999;
		cursor: pointer;
}
.ziconb{
	width: 50px;
	height: 50px;
	border-bottom: 2px solid #fff;
	background: #ececec;
}
.floorbtn{
	width: 50px;
	height: 50px;
	position: relative;
	float: left;
}
.totp{
	width: 50px;
	height: 50px;
	position: relative;
	float: left;
}
.mask{
	width: 50px;
	height: 50px;
	float: left;	background:#E5004F;
	opacity: 0;
	position: absolute;
	line-height:25px;
	text-align: center;
	color: white;
	font-size: 12px;



}
/*左导航结束*/